html {
    background-color: #eff0f0;
}

.cabeza {
    box-shadow: 0 0 10px #888;
    background-color: #2b9dc8;
    color: #eff0f0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    border-radius: 10px;
    padding-left: 3px;
}

.cuerpo {
    box-shadow: 0 0 10px #888;
    display: flex;
}

.izq {
    background-color: #2bc0c8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.texto {
    padding-left: 2%;
    padding-right: 2%;
}

.der {
    box-shadow: 0 0 10px #888;
    background-color: #a1dfdf;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
}

.titulo2 {
    text-align: center;
}

.texto2 {
    column-count: 2;
    column-gap: 10px;
}