/*
font-family: "Red Hat Display", sans-serif;
*/

body {
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: white;
    margin-inline-end: auto;
    padding: 16px;
    
}

header img {
    margin-top: -10px
}

header div {
    display: inline-block;
    position: relative;
}

header h1,
header h5 {
    font-weight: 500;
    padding: 10px;
    margin: 0;
}

header h1 {
    font-size: 60px;
    color: #14607e;
}

header h5 {
    font-size: 20px;
    color: #122a3e;
}

nav {
    background-color: #007193;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
    border-color: #007193;
    border-style: solid;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #ccc;
    clear: both;
    color: #333;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
    position: relative;
    bottom: 0;
}

nav ul li a.activo {
    border-color: #007193;
    border-style: solid;
    color: #007193;
    background-color: white;
}

.holder {
    max-width: 960px;
    margin: 0 auto;
}

.imagen {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 170px;
}

h2 {
    color: #2e64a1;
    font-weight: 400;
}

.bienvenidos {
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
}

.testimonios {
    width: 25%;
}

.columnas {
    display: flex;
    justify-content: space-between;
}

.bienvenidos p {
    font-size: 20px;
}

.testimonio {
    background-color: #ccc;
    padding: 16px;
}

.testimonio .cita {
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    display: block;
}

.testimonio .autor {
    text-align: center;
    font-size: 10px;
    display: block;
    padding: 12px 0;
}

.historia p {
    font-size: 12px;
}

.personas {
    display: flex;
    justify-content: space-between;
}

.persona {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
}

.persona img {
    width: 125px;
    height: 100px;
    max-width: 60%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.persona h5,
.persona h6 {
    margin: 5px;
    font-weight: normal;
    color: #2e64a1;
}

.persona h5 {
    font-size: 14px;
    font-style: italic;
}

.persona h6 {
    font-size: 11px;
    color: #122a3e;
}

.persona p {
    display: flex;
    align-items: center;
    color: #666;
    font-size: 10px;
}

.servicio {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    gap: 32px;
    align-items: center;
}

.servicio .info h4 {
    color: #2e64a1;
    font-weight: 500;
    font-style: italic;
    border-bottom: 1px solid #2e64a1;
    padding-bottom: 10px;
}

.servicio .info p {
    font-size: 13px;
}

.servicio img {
    border-radius: 13px;
    border: #333 solid 1px;
    display: block;
    max-width: 225px;
}

.servicio:nth-child(even) {
    flex-direction: row-reverse;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.galeria img {
    width: 18%;
    height: 18%;
    border: 1px solid #ddd;
    padding: 0.3em;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 2%;
}

.novedades {
    border-radius: 13px;
    border: #ccc solid 1px;
    margin: 11px;
    padding: 6px;
}

.contacto {
    display: flex;
    gap: 24px;
}

.contacto div {
    width: 100%;
}

.contacto p {
    font-size: 14px;
}

.contacto ul li {
    font-size: 13px;
}

.formulario p {
    display: flex;
}

.formulario p label {
    min-width: 80px;
    display: flex;
    align-items: center;
}

.formulario p:nth-child(4) {
    align-items: start;
}

.formulario textarea {
    resize: none;
    height: 150px;
}

.formulario input[type="submit"] {
    background: #6da9ed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 16px;
    padding: 6px 20px;
    width: auto;
    position: relative;
    left: 5rem;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: #2e64a1;
}